<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">              
                <item name="allowed-customers" xsi:type="array">
                    <item name="class" xsi:type="string">Excelss\Customerproducts\Ui\DataProvider\Product\Form\Modifier\AllowedCustomers</item>
                    <item name="sortOrder" xsi:type="number">130</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">              
                <item name="allowed-customers-group" xsi:type="array">
                    <item name="class" xsi:type="string">Excelss\Customerproducts\Ui\DataProvider\Product\Form\Modifier\AllowedCustomerGroup</item>
                    <item name="sortOrder" xsi:type="number">131</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider" type="Excelss\Customerproducts\Ui\DataProvider\Product\Form\ProductDataProvider" />
        
</config>
